@import 'colourPalette';

html {
    font-size: 125%;
}

body {
    font-size: 16px;
}

@mixin fontSize ($sizeValue) {
    font-size: $sizeValue;
    font-family: 'Sora', sans-serif;
    letter-spacing: 1px;
    color: $fontColor;
}

h1 {
    @include fontSize(3rem);
    line-height: 4rem;
}

h2 {
    @include fontSize(2rem);
    line-height: 2.8rem;
    color: $accentThree;
    font-weight: bold;
}

h3 {
    @include fontSize(1.2rem);
    line-height: 1.6rem;
    color: $accentThree;
}

p {
    @include fontSize(1rem);
    line-height: 1.2rem;
    color: $fontColor;
}

label {
    @include fontSize(1rem);
    line-height: 1.2rem;
    color: $fontColor;
}