@import 'setup';
@import 'fonts';
@import 'colourPalette';


.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

header {
    background-image: url('../assets/catBus.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .titleContainer {
        width: 100%;
        margin-bottom: 50px;
        p {
            font-style: italic;
        }
    }
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

main {
    background-color: RGB(23,26,35);
}

.textContainer {
    padding-top: 50px;
    width: 100%;
    margin: 0 auto;
    p {
        margin: 10px auto;
    } 
}

.resultsSection{
    height: 70vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .formContainer, .resultsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 400px;
    }
}

.resultsContainer {
    border: 2px solid $accentOne;
    margin: 20px;
    padding: 20px;
    width: 40%;
    height: 400px;
    perspective: 1000px;
    p, h3 {
        margin: 20px;
    }
}

.flipCard {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.resultsContainer:hover .flipCard,
.resultsContainer:focus .flipCard {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipCardFront {
    background-color: RGB(23,26,35);
    text-align: left;
}

.flipCardBack {
    transform: rotateY(180deg);
    color: $accentOne;
    background-color: RGB(23,26,35);
    text-align: center;
}

.nameContainer {
    display: none;
    border: 2px solid $accentOne;
    h3 {
        color: $fontColor;
        text-transform: uppercase;
    }
}

.answerContainer {
    height: 8vh;
    margin-top: 20px;
}

form {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    label {
        padding: 0px;
        margin: 0 0 10px 0;

    }
    select, input {
        padding: 5px;
        margin-bottom: 20px;
    }
}

button {
    @include fontSize(1rem);
    line-height: 1.2rem;
    color: $fontColor;
    background-color: $accentThree;
    cursor: pointer;
    border: none;
    padding: 5px;
    }

button:hover,
button:focus {
    background-color: RGBA(211, 125, 106, 0.7);
}

// button.playAgain {
//     visibility: hidden;
// }

footer {
    height: 5vh;
    background-color: RGB(23,26,35);
    text-align: center;
    p {
        @include fontSize(0.8rem);
        color: $fontColor;
        font-style: normal;
    }
}

/* MEDIA QUERIES */ 
@media (max-width: 880px) {
    .resultsSection {
        .formContainer, .resultsContainer {
        width: 50%;
        }
    }
}

@media (max-width: 750px) {
    header {
        height: 60vh;
    }

    h1 {
    @include fontSize(2.6rem);
    line-height: 3rem;
    }

    h3 {
    @include fontSize(1rem);
    line-height: 1.2rem;
    color: $accentThree;
    }
}

@media (max-width: 685px) {
    p {
    @include fontSize(0.8rem);
    line-height: 1rem;
    color: $fontColor;
    }

    label {
    @include fontSize(0.8rem);
    line-height: 1rem;
    color: $fontColor;
    }

    .resultsContainer {
    margin: 0;
    p, h3 {
        margin: 10px;
        }
    }

    .resultsSection {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
        .formContainer, .resultsContainer {
        width: 100%;
        }
    }

    .formContainer {
    margin-top: 50px;
    }

    button.playAgain {
    margin-bottom: 25px;
    }

    footer {
        height: inherit;
    p {
        height: inherit;
        padding: 20px 0;
        }
    }

}

@media (max-width: 400px) {
    h3 {
        display: none;
    }


}



