@import 'setup';
@import 'fonts';
@import 'colourPalette';

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

header {
    background-image: url('../assets/catBus.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .titleContainer {
        width: 100%;
        margin-bottom: 50px;
        p {
            font-style: italic;
        }
    }
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

main {
    background-color: RGB(23,26,35);
}

.textContainer {
    padding-top: 75px;
    width: 100%;
    margin: 0 auto;
    p {
        margin: 10px auto;
    } 
}

.resultsSection{
    height: 70vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .formContainer, .resultsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 400px;
    }
}

.resultsContainer {
    border: 1px solid $accentOne;
    margin: 20px;
    padding: 20px;
    p {
        margin: 20px;
    }
}

.nameContainer {
    display: none;
    border: 1px solid $accentOne;
    h3 {
        color: $fontColor;
        text-transform: uppercase;
    }
}

form {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    label {
        padding: 0px;
        margin: 0 0 10px 0;

    }
    select, input {
        padding: 5px;
        margin-bottom: 20px;
    }
    button {
    @include fontSize(1rem);
    line-height: 1.2rem;
    color: $fontColor;
    background-color: $accentThree;
    border: none;
    padding: 5px;
    }
}

footer {
    height: 5vh;
    background-color: RGB(23,26,35);
    text-align: center;
    p {
        @include fontSize(0.8rem);
        color: whitesmoke;
        font-style: normal;
    }
}



